{% extends 'layouts/base.twig' %}

{% block content %}
	{% include "/includes/inc-hero-goal.twig" %}

	{# vars #}
	{% set tell = post.get_field('goal_tell_us') %}
	{% set resp = post.get_field('goal_team_response') %}

	{# responses #}
	<div class="c-lead-container l-block">
		<div class="l-wrap">
			<div class="c-lead c-lead--reasons">
				{# <span class="c-lead__accent">accent</span> #}
				{# {{post.content}} #}

				<div class="c-lead__quote">
					<h4 class="c-lead__qtitle">What you tell us:</h4>
					<p class="c-lead__qcontent">{{tell}}</p>
				</div>
				{# <div class="c-lead__mid">
					<span class="o-circle">&nbsp;</span>	
				</div> #}
				<div class="c-lead__quote">
					<h4 class="c-lead__qtitle">Our team responds:</h4>
					<p class="c-lead__qcontent">{{resp}}</p>
				</div>
			</div>
		</div>
	</div>


	<div class="c-content__entry c-content__wide l-wrap">
		<article class="c-article post-type-{{post.post_type}}" id="post-{{post.ID}}">
			{% if post.content %}
			<section class="c-content__post">
				{{post.content}}

				<hr>
			</section>
			{% endif %}
			
			<div class="c-relationship c-relationship--service">

					{# <h3 class="c-relationship__title u-text-center">Featured Services</h3> #}
					{% for service in post.get_field('goal_services') %}

					    <div class="c-relationship__block">

					    	<h3 class="c-relationship__type"> {{ TimberTerm(service.services_type) }} </h3>
					    	
					    	{% for item in service.services_items %}
					    		
					    	    <div class="{% if (loop.first) and not (loop.length is divisible by(2)) %}l-column__block-one{% else %}l-column__block{% endif %}">
							        <div class="c-relationship__item" style="background-image: url('{{TimberImage(item.service_banner).src}}')">
										<div class="ov"></div>
							        	<div class="c-relationship__entry">
							        		<div class="c-relationship__content">
							        			<h4 class="c-relationship__title"><a href="{{item.link}}" class="c-relationship__link">{{item.title}}</a></h4>
				
							        			<p class="c-relationship__tag">{{item.get_preview(10,true,false)}}</p>
							        		</div>
							        	</div> 
							        </div>
							    </div>
					    	{% endfor %}
					    </div>

					{% endfor %}

				</div>

			{% include "includes/inc-end-cap.twig" %}
		</article>
	</div> 
	{% include "includes/inc-testimonials.twig" %}
{% endblock %}