{% extends 'layouts/base.twig' %}

{% block content %}
	{% include "/includes/inc-hero-goal.twig" %}

	{# vars #}


	<div class="c-lead-container l-block">
		<div class="l-wrap">
			<div class="c-lead">
				{{post.content}}
			</div>
		</div>
	</div>


	<div class="c-content__entry l-wrap">
		<article class="c-article post-type-{{post.post_type}}" id="post-{{post.ID}}">

			<div class="c-relationship c-relationship--service">

					{# <h3 class="c-relationship__title u-text-center">Featured Services</h3> #}
					{% for service in post.get_field('goal_services') %}

					    <div class="c-relationship__block">

					    	<h3 class="c-relationship__type"> {{ service.services_type }} </h3>
					    	
					    	{% for item in service.services_items %}
					    	    <div class="l-column__block">
							        <div class="c-relationship__item" style="background-image: url('{{TimberImage(item.service_banner).src}}')">
										<div class="ov"></div>
							        	<div class="c-relationship__entry">
							        		<div class="c-relationship__content">
							        			<h4 class="c-relationship__title"><a href="{{item.link}}" class="c-relationship__link">{{item.title}}</a></h4>
							        			{% if fn('is_singular', 'goal') %}
							        				<h5 class="c-relationship__tag">{{item.service_tag_line}}</h5>
							        			{% else %}
							        				<p class="c-relationship__tag">{{item.get_preview(10, true, false)}}</p>
							        			{% endif %}
							        		</div>
							        		<div class="c-relationship__cta">
							        			<a href="{{item.link}}" class="o-cta o-cta--ghost">Learn about {{item.title}}</a>
							        		</div>
							        	</div> 
							        </div>
							    </div>
					    	{% endfor %}
					    </div>

					{% endfor %}

				</div>

			{% include "includes/inc-end-cap.twig" %}
		</article>
	</div> 
	{% include "includes/inc-testimonials.twig" %}
{% endblock %}