{# base.twig #}

{% include 'includes/html-header.twig' %}

</head>
	
{#-- Uncomment this line if using the Off-Canvas Menu --#}
		
<body class="{{ body_class }}" data-template="base.twig">

	<a href="#top" class="back-to-top" title="Back to Top">&nbsp;</a>

	<div class="c-canvas" >
			
		<div class="c-canvas__inner" data-off-canvas-wrapper>

				{% include 'includes/inc-off-canvas.twig' %}
				
				<div class="c-canvas__content" data-off-canvas-content>
					{# header #}
					{% include 'includes/header.twig' %}

					<!-- You can add more icons at http://fontawesome.io/icons/#brand -->
					<ul class="o-sticky-bar">
						
						<li class="o-sticky__icon">
						    <a href="{% if options.schedule %}{{options.schedule}}{% else %}{{site.url}}/contact{% endif %}" target="_blank"> 
						      <i class="fa o-sched" aria-hidden="true">Plan</i>
						      <span class="o-sticky__text">Schedule</span>
						    </a>
					  	</li>
					  	
					  	{% if options.guest_login %}
					  	<li class="o-sticky__icon">
						    <a href="{{guest_login}}">
						      <i class="fa o-shop" aria-hidden="true">Shop</i>
						      <span class="o-sticky__text">Shop</span>
						    </a>
					  	</li>
					  	{% endif %}
					  	{% if options.main_phone %}
					  	<li class="o-sticky__icon">
					    	<a href="tel:{{options.main_phone}}">
					      		<i class="fa o-call" aria-hidden="true">Call</i>
					      		<span class="o-sticky__text">Call Us</span>
					    	</a>
					  	</li>
					  	{% endif %}
					  	<li class="o-sticky__icon">
					    	<a href="/">
					      		<i class="fa o-chat" aria-hidden="true">Chat</i>
					      		<span class="o-sticky__text">{% include "includes/inc-bold-chat.twig" %}</span>
					    	</a>
					  	</li>
					</ul>

					<main id="main" class="c-main" role="main">
					{% block content %}
					{% endblock %}
					</main>
					{# footer #}
					{% include 'includes/footer.twig' %}
					
				</div>  
				{#  end .main-content #}
		</div> 
			{#  end .off-canvas-wrapper-inner #}
	</div> 
	{#  end .off-canvas-wrapper #}

	{{ function('wp_footer') }}
	
	{% for item in options.tracking %}
		<!-- {{item.tracking_name}} -->
		{{item.tracking_code}}
	{% endfor %}
	
	
</body>
</html> 
{# end page #}