{% extends 'layouts/base.twig' %}

{% block content %}
	{% include "/includes/inc-hero.twig" %}
	{% include "/includes/inc-lead.twig" %}

	<div class="c-content__entry l-wrap">
		<article class="c-article post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="c-article__content">
				{{post.get_content}}
			</section>
			
			<div class="c-relationship c-relationship--service">

				{# <h3 class="c-relationship__title u-text-center">Featured Services</h3> #}

			    {% for item in post.get_field('featured_services') %}
			        <section class="c-relationship__item" style="background-image: url('{{TimberImage(item.service_banner).src}}')">
						{# <div class="ov"></div> #}
			        	<div class="c-relationship__entry">
			        		<div class="c-relationship__content">
			        			<h4 class="c-relationship__title"><a href="{{item.link}}" class="c-relationship__link">{{item.title}}</a></h4>
			        			{% if fn('is_singular', 'goal') %}
			        				<h5 class="c-relationship__tag">{{item.service_tag_line}}</h5>
			        			{% else %}
			        				<p>{{item.get_preview(10,true,false)}}</p>
			        			{% endif %}
			        		</div>
			        	</div>
			        </section>
			    {% endfor %}
			</div>

			{% include "includes/inc-end-cap.twig" %}
		</article>
	</div> 
	{% include "includes/inc-testimonials.twig" %}
{% endblock %}