{# footer.twig #}
<div class="c-footer-container l-block" role="contentinfo">
	<footer class="c-footer l-wrap">
		<div class="c-footer__brand">
			<div class="o-logo o-logo--footer">
				<a href="{{site.url}}" class="o-logo__brand u-ir">{{site.name}}</a>
			</div>
		</div>
		<div class="c-footer__general">
			<nav role="navigation">
				{% include "/includes/menu-footer.twig" with {'footer': footer.get_items} %}
			</nav>
		</div>
		<div class="c-footer__contact">
			{# <h5 class="c-footer__title"></h5> #}
			<nav class="o-location" role="navigation">
				<ul class="o-location__links footer-nav">
				{% for item in options.locations %}
			        <li class="o-location__item">{{item.city}}, {{item.state}}</li>
			    {% endfor %}
			    	<li class="o-location__item"><em>More locations coming soon!</em></li>
			    	{% if options.store_locator %}
				    	<li class="o-location__item">
				    		<a href="{{options.store_locator}}" class="nav-link">Store Locator</a>
				    	</li>
			    	{% endif %}
			    </ul>
			</nav>


		</div>
		<div class="c-footer__social">
			<nav class="l-menu">
				<menu class="c-menu">
					{% include "/includes/inc-social.twig" %}
				</menu>
			</nav>
		</div>
	</footer> <!-- end #inner-footer -->
</div> <!-- end .footer -->
<div class="c-credits-container l-block">
	<div class="c-credits l-wrap">
		<div class="c-credits__copy">
			<p class="o-source-org copyright">&copy; Copyright {{site.title}} {{ "now"|date('Y') }}.</p>
		</div>
		<div class="c-credits__usage"></div>
	</div>
</div>