<div id="offMain" class="c-canvas__menu" data-off-canvas>
	<!-- Close button -->
	<button class="close-button" aria-label="Close menu" type="button" data-close>
	    <span aria-hidden="true">&times;</span>
	</button>
	
	<!-- Menu -->
	{% if mble %}
		<menu id="mainMobile" class="c-menu c-menu--mobile" role="navigation">
			{% if options.schedule %}
				<li class="c-menu__schedule">
					<a href="" class="c-menu__link">Schedule Today</a>
				</li>
			{% endif %}
			{% for item in mble.get_items %}
				<li class="c-menu__item {{item.classes | join(' ')}}">
					<a href="{{item.link}}" class="c-menu__link">{{item.title}}</a>
					{% if item.get_children %}
						<ul class="c-menu--children">
							{% for child in item.get_children %}
							<li class="c-menu__s-item"><a href="{{child.get_children}}" class="c-menu__sub-link">{{child.title}}</a></li>
							{% endfor %}
						</ul>
					{% endif %}
				</li>
			{% endfor %}
			{% if options.store_locator %}
		    	<li class="o-location__item">
		    		<a href="{{options.store_locator}}" class="c-menu__link">
					{% if locator %}
						{{locator}}
					{% else %}
						Store Locator
					{% endif %}
					</a>
		    	</li>
	    	{% endif %}
		</menu>
	{% endif %}

	<div class="c-canvas__item">
		<p>
			<span>Call Us:</span>
			<a href="tel:{{options.main_phone}}" class="c-menu__link"><strong>{{options.main_phone}}</strong></a>
		</p>
	</div>

	<div class="c-footer__social">
		<nav class="l-menu">
			<menu class="c-menu">
				{% include "/includes/inc-social.twig" %}
			</menu>
		</nav>
	</div>
	
</div>