{# vars #}
{% set fb = options.facebook %}
{% set tw = options.twitter %}
{% set pn = options.pinterest %}
{% set ig = options.instagram %}

{% if fb %}
	<li class="c-menu__item sc fb"><a href="{{fb}}" class="c-menu__link"><img src="{{ theme.link }}/assets/images/icon-fb.svg" alt=""></a></li>
{% endif %}
{% if tw %}
	<li class="c-menu__item sc tw"><a href="{{tw}}" class="c-menu__link"><img src="{{ theme.link }}/assets/images/icon-tw.svg" alt=""></a></li>
{% endif %}
{% if pn %}
	<li class="c-menu__item sc pn"><a href="{{pn}}" class="c-menu__link"><img src="{{ theme.link }}/assets/images/icon-pn.svg" alt=""></a></li>
{% endif %}
{% if ig %}
	<li class="c-menu__item sc ig"><a href="{{ig}}" class="c-menu__link"><img src="{{ theme.link }}/assets/images/icon-ig.svg" alt=""></a></li>
{% endif %}