{% if options.facebook %}
	<li class="c-menu__item sc fb"><a href="{{options.facebook}}" class="c-menu__link"><img src="{{ theme.link }}/assets/images/icon-fb.svg" alt=""></a></li>
{% endif %}
{% if options.twitter %}
	<li class="c-menu__item sc tw"><a href="{{options.twitter}}" class="c-menu__link"><img src="{{ theme.link }}/assets/images/icon-tw.svg" alt=""></a></li>
{% endif %}
{% if options.pinterest %}
	<li class="c-menu__item sc pn"><a href="{{options.pinterest}}" class="c-menu__link"><img src="{{ theme.link }}/assets/images/icon-pn.svg" alt=""></a></li>
{% endif %}
{% if options.instagram %}
	<li class="c-menu__item sc ig"><a href="{{options.instagram}}" class="c-menu__link"><img src="{{ theme.link }}/assets/images/icon-ig.svg" alt=""></a></li>
{% endif %}