{# vars #}
{% set h_cta     = options.hero_cta %}
{% set h_link    = options.hero_link %}
{% set l_cta  = options.left_cta %}
{% set l_link = options.left_link %}
{% set r_cta  = options.right_cta %}
{% set r_link = options.right_link %}

<a href="{{l_link}}" class="o-cta o-cta--sm">{{l_cta}}</a>
<a href="{{h_link}}" class="o-cta o-cta--hero">{{h_cta}}</a>
<a href="{{r_link}}" class="o-cta o-cta--sm">{{r_cta}}</a>