<article class="c-hero__entry">

	{% if fn('is_front_page') %}

		{# vars home #}
		{% set h_accent  = acf.hero_accent.value %}
		{% set h_title   = acf.hero_title.value %}
		{% set h_summary = acf.hero_summary.value %}
		{% set h_cta     = acf.hero_cta.value %}
		{% set h_link    = acf.hero_link.value %}
		<header class="c-hero__header">
			<span class="c-hero__accent">{{h_accent}}</span>
			<h1 class="c-hero__title">
				{% if h_title %}
					{{h_title}}
				{% else %}
					{{post.title}}
				{% endif %}
			</h1>
		</header>
		
		{% if h_summary %}
		<div class="c-hero__summary">
			{{h_summary}}
		</div>
		{% endif %}
	
		<div class="c-hero__cta">
			<a href="{{h_link}}" class="o-cta o-cta--hero">{{h_cta}}</a>
		</div>

	{% elseif fn('is_archive') %}

		<header class="c-hero__header">
			<span class="c-hero__accent">{{h_accent}}</span>
			<h1 class="c-hero__title">{{fn('single_cat_title')}}</h1>
		</header>

	{% elseif fn('is_home') %}

		<header class="c-hero__header">
			<span class="c-hero__accent">Novosano</span>
			<h1 class="c-hero__title">Insights</h1>
		</header>

	{% else %}

		{# vars #}
		{% set h_accent = acf.title_accent.value %}
		{% set h_title  = acf.alternative_title.value %}
		<header class="c-hero__header">
			<span class="c-hero__accent">
				{% if h_accent %}
					{{h_accent}}
				{% else %}
					Novosano
				{% endif %}
			</span>
			<h1 class="c-hero__title">
				{% if h_title %}
					{{h_title}}
				{% else %}
					{{post.title}}
				{% endif %}
			</h1>
		</header>
	{% endif %}
</article>