<article class="c-hero__entry">

	{% if fn('is_front_page') %}

		{# vars home #}
		{% set h_accent  = acf.hero_accent.value %}
		{% set h_title   = acf.hero_title.value %}
		{% set h_summary = acf.hero_summary.value %}
		{% set h_cta     = acf.hero_cta.value %}
		{% set h_link    = acf.hero_link.value %}

		{% set l_cta  = acf.left_cta.value %}
		{% set l_link = acf.left_link.value %}

		{% set r_cta  = acf.right_cta.value %}
		{% set r_link = acf.right_link.value %}

		<header class="c-hero__header">
			{% if h_accent %}
				<span class="c-hero__accent">{{h_accent}}</span>
			{% else %}
				<hr>
			{% endif %}
			<h1 class="c-hero__title">
				{% if h_title %}
					{{h_title}}
				{% else %}
					{{post.title}}
				{% endif %}
			</h1>
		</header>
		
		{% if h_summary %}
		<div class="c-hero__summary">
			{{h_summary}}
		</div>
		{% endif %}
	
		<div class="c-hero__cta">
			<a href="{{l_link}}" class="o-cta o-cta--sm">{{l_cta}}</a>
			<a href="{{h_link}}" class="o-cta o-cta--hero">{{h_cta}}</a>
			<a href="{{r_link}}" class="o-cta o-cta--sm">{{r_cta}}</a>
		</div>

	{% elseif fn('is_archive') %}

		<header class="c-hero__header">
			<span class="c-hero__accent">{{h_accent}}</span>
			<h1 class="c-hero__title">{{fn('single_cat_title')}}</h1>
		</header>

	{% elseif fn('is_home') %}

		<header class="c-hero__header">
			<span class="c-hero__accent">Novosano</span>
			<h1 class="c-hero__title">Insights</h1>
		</header>

	{% else %}

		{# vars #}
		{% set h_accent = acf.title_accent.value %}
		{% set h_title  = acf.alternative_title.value %}
		<header class="c-hero__header">
			{% if h_accent %}
				<span class="c-hero__accent">{{h_accent}}</span>
			{% else %}
				<hr>
			{% endif %}
			
			<h1 class="c-hero__title">
				{% if h_title %}
					{{h_title}}
				{% else %}
					{{post.title}}
				{% endif %}
			</h1>
		</header>
	{% endif %}
</article>